[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
requests = ">=2.33.0"
mock = "*"
dataclasses = "*"
black = "*"
urllib3 = ">=2.7.0"

[requires]
python_version = "3"
